@mixin footer($name: ".c-footer") {
    #{$name} {
        height: 60px;
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid map-get($colors, "grey-3");
        align-items: center;

        a {
            color: map-get($colors, "primary");
            font-size: 20px;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: map-get($colors, "grey-2");
            }
        }
    }
}
