<div class="container c-footer">
    <div class="c-footer__content">
        Follow me @
        <a href="https://www.facebook.com/sometimesrama?ref=bookmarks" target="_blank">
            <i class="fa fa-lg fa-facebook-square"></i>
        </a>
        <a href="https://www.linkedin.com/in/rama-krishna-saladi-92041780/" target="_blank">
            <i class="fa fa-lg fa-linkedin-square"></i>
        </a>
        <a href="https://gitlab.com/ramakrishnasaladi" target="_blank">
            <i class="fa fa-lg fa-gitlab"></i>
        </a>
    </div>
</div>
