@mixin carousel($name: ".c-carousel") {
  #{$name} {
    padding: 0 1rem;
    margin-bottom: map-get($space, "s");

    @include lg {
      padding: 0 1.25rem;
      margin-bottom: map-get($space, "l");
    }

    &__title {
      margin-bottom: map-get($space, "xs");

      @include lg {
        margin-bottom: map-get($space, "m");
      }
    }

    .carousel-item {
      img {
        height: 350px;

        @include md {
          height: 450px;
        }

        @include md {
          height: 550px;
        }
      }
    }
  }
}

@mixin skills($name: ".c-skills") {
  #{$name} {
    padding: 0 1rem;

    @include lg {
      padding: 0 1.25rem;
    }

    &__title {
      margin-bottom: map-get($space, "xs");

      @include lg {
        margin-bottom: map-get($space, "m");
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__skill {
      //border: 2px solid black;
      width: 100%;
      position: relative;
      margin-bottom: map-get($space, "s");

      @include md {
        width: calc((100% - 40px) / 3);
        margin-right: 20px;
      }

      @include lg {
        width: calc((100% - 90px) / 4);
        margin-right: 30px;
        margin-bottom: map-get($space, "l");
      }

      &:nth-child(4n) {
        @include lg {
          margin-right: 0;
        }
      }

      &:nth-child(3n) {
        @include md-only {
          margin-right: 0;
        }
      }

      &__features {
        display: flex;
        width: 100%;
        flex-direction: row;
        padding: 10px;

        &:nth-child(even) {
          background-color: map-get($colors, "grey-5");
        }
      }

      &__feature {
        width: 50%;

        &:nth-child(even) {
          text-align: right;
        }
      }

      &__symbol {
        width: 20px;
        height: 20px;
        background: map-get($colors, "grey-4");
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
