<div class="container">
  <app-profile></app-profile>
  <div class="c-skills">
    <h2 class="c-skills__title">Technical Stack</h2>
    <div class="c-skills__wrapper">
      <div class="c-skills__skill" *ngFor="let skill of skills">
        <div class="c-skills__skill__symbol"></div>
        <h3 class="c-skills__skill__title">
          {{ skill.title }}
        </h3>
        <div
          class="c-skills__skill__features"
          *ngFor="let feature of skill.features"
        >
          <div class="c-skills__skill__feature">{{ feature.description }}</div>
          <div class="c-skills__skill__feature">{{ feature.value }}</div>
        </div>
      </div>
    </div>
  </div>
  <app-carousel></app-carousel>
  <app-interests></app-interests>
</div>
