<div class="container c-header">
  <nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" routerLink="">Rama Krishna</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="">
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="logger">Dev Logger</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://client-panel-prod-f66d2.web.app/login"
            target="_blank"
          >
            Client Pannel</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
