<div class="c-interests">
  <h2 class="c-interests__title">Interests</h2>
  <ul>
    <li>
      To leaverage my technial skills, Willing to work in technologies like
      React, Angular, Node, Mongo DB and Docker.
    </li>
    <li>To develop hybrid apps which can be used in IOS, Android and Web.</li>
    <li>
      Two games use to facinate me from my childhood cricket and chess, Would
      like to be closer to these games.
    </li>
  </ul>
</div>
