@mixin interests($name: '.c-interests') {
    #{$name} {
        padding: 0 1rem;
        margin-bottom: map-get($space, 's' );
       
        @include lg {
            padding: 0 1.25rem;
            margin-bottom: map-get($space, 'l' );
        }
    }
}