<div class="c-logger">
    <div class=" c-logger__wrapper container">
        <form (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="loggerTitle">Title</label>
                    <input type="text" class="form-control" id="loggerTitle" name="title" [(ngModel)]="title">
                </div>
            </div>
            <div class="form-group">
                <label for="loggerDescription">Description</label>
                <textarea name="description" class="form-control" id="loggerDescription" rows="3" [(ngModel)]="description"></textarea>
            </div>
            <div class="c-logger__cta">
                <a class="c-logger__link" [hidden]="!title" (click)="clearState()">Clear</a>
                <button type="submit" class="btn btn-primary" [disabled]="!title">Add Task</button>
            </div>
        </form>
    </div>
</div>
