@mixin logger($name: ".c-logger") {
  #{$name} {
    background-color: map-get($colors, "grey-5");

    &__wrapper {
      padding-top: map-get($space, "l");
      padding-bottom: map-get($space, "l");

      @include lg {
        padding-top: map-get($space, "xl");
        padding-bottom: map-get($space, "xl");
      }
    }

    form {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }

    .btn-primary {
      background-color: map-get($colors, "primary");
      border-color: map-get($colors, "primary");

      &:hover,
      &:focus {
        background-color: map-get($colors, "primary");
        border-color: map-get($colors, "grey-5");
      }

      &.disabled, &:disabled {
        background-color: map-get($colors, "primary");
        border-color: map-get($colors, "primary");
      }
    }

    .form-control {
      background-color: map-get($colors, "grey-5");
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid map-get($colors, "grey-2");

      &:hover,
      &:focus {
        background-color: map-get($colors, "grey-5");
        border-top: none;
        border-left: none;
        border-right: none;
        box-shadow: none !important;
        border-bottom: 1px solid map-get($colors, "primary");
      }
    }

    &__cta {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: map-get($space, "m");
      align-items: center;
    }

    &__link {
      color: map-get($colors, "primary");
      padding-right: map-get($space, "xs");

      &:hover,
      &:focus {
        color: map-get($colors, "primary");
        opacity: 0.4;
      }
    }
  }
}
