// Screen sizes.
$screenSizes: (
    'mobile': 576px,
    'laptop': 768px,
    'desktop': 992px,
    'large-desktop': 1200px
);

// Small devices
@mixin sm {
    @media (min-width: map-get($screenSizes, 'mobile')) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: map-get($screenSizes, 'laptop')) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: map-get($screenSizes, 'desktop')) { 
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: map-get($screenSizes, 'large-desktop')) {
        @content;
    }
 }

 // Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
 }

 @mixin  md-only {
    @media (min-width: map-get($screenSizes, 'laptop')) and  (max-width: map-get($screenSizes, 'desktop')) { 
        @content;
    }
 }

 @mixin lg-only {
    @media (min-width: map-get($screenSizes, 'desktop')) and  (max-width: map-get($screenSizes, 'large-desktop')) { 
        @content;
    }
 }