@mixin loggers($name: "c-loggers") {
  .#{$name} {
    margin-top: map-get($space, "l");
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    &__item {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: map-get($space, "l");
      width: 100%;

      @include md-only {
        width: 48%;
        margin-right: 4%;
      }

      @include lg {
        width: 31%;
        margin-right: 3.5%;
      }

      &:nth-child(3n) {
        @include lg {
          margin-right: 0;
        }
      }

      &:nth-child(2n) {
        @include md-only {
          margin-right: 0;
        }
      }

      &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: map-get($space, "xxxs");

        &__title {
          font-size: 24px;
          font-weight: bold;
          line-height: 28px;
        }
      }

      &__body {
        position: relative;
        padding-top: map-get($space, "xxxs");
        padding-bottom: 20px;
        border-top: 1px solid map-get($colors, "grey-4");

        &__date {
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 12px;
        }
      }

      &--active {
        .#{$name}__item__body {
          border-top: 2px solid map-get($colors, "grey-2");
        }
      }
    }
  }
}
