<app-logger></app-logger>
<div class="container">
  <ul class="c-loggers" *ngIf="loaded && logs?.length > 0">
    <li *ngFor="let log of logs" class="c-loggers__item" [class.c-loggers__item--active]="selectedLog === log">
      <div class="c-loggers__item__head">
        <a class="c-loggers__item__head__title" (click)="onSelect(log)">
          {{ log.title }}
        </a>
        <i class="fa fa-remove" (click)="deleteLog(log)"></i>
      </div>
      <div class="c-loggers__item__body">
        {{ log.description }}
        <div class="c-loggers__item__body__date">
          <span class="log-date">{{ log.created | date: "short" }}</span>
        </div>
      </div>
    </li>
  </ul>
  <div *ngIf="loaded && logs?.length == 0">
    <h5>There are no logs in the system</h5>
  </div>
  <div *ngIf="!loaded">
    <h5>
      loading .......
    </h5>
  </div>
</div>