<div class="c-profile">
  <div class="c-profile__head">
    <div class="c-profile__head__wrapper">
      <!-- <img src="../../../assets/images//profile-background.jpg" alt="decorative image" class="c-profile__head__background"> -->
      <div class="c-profile__head__background"></div>
      <img
        src="../../../assets//images//user.jpg"
        alt="User profile picture"
        class="c-profile__head__user-picture"
      />
    </div>
    <div class="c-profile__head__content">
      <h3 class="c-profile__head__title">Rama Krishna Saladi</h3>
      <h4 class="c-profile__head__sub-title">Full stack developer</h4>
      <div>
        <i class="fa fa-envelope-open"></i>
        saladi.ramakrishna@yahoo.com
      </div>
      <div>
        <i class="fa fa-phone-square"></i>
        +353-899887963
      </div>
      <div>
        <i class="fa fa-map"></i>
        Dublin, Ireland
      </div>
    </div>
  </div>
  <div class="c-profile__body">
    <h2 class="c-profile__body__title">Info</h2>
    <div class="c-profile__body__content">
      I am a Full Stack developer with more than 12 years of IT experience, I
      develop dynamic web applications to my clients. My technical stack
      includes Angular, React, Node, Rest API etc. Please see my
      <a href="https://www.linkedin.com/in/rama-krishna-saladi-92041780/"
        >linkedin profile</a
      >
      for more information
    </div>
    <h2 class="c-profile__body__title">Summary</h2>
    <div class="c-profile__body__content">
      <ol>
        <li>
          Create semantec, responsive web pages using HTML5 and SCSS.
          Develop/Maintain a CSS and Javascript library as per design
          guidelines.
        </li>
        <li>
          Create single page applications using front end technologies such as
          React and Angular.
        </li>
        <li>
          Design, Analyse, develop and deploy websites using MEAN stack
          technologies
        </li>
        <li>
          Writing maintainable and testable code, Has hands on experience on
          Karma, Jasmine and Nunit.
        </li>
        <li>
          Guide the Junior developers with their technical tasks, design and
          take responsibility for the quality of code
        </li>
      </ol>
    </div>
  </div>
</div>
