@mixin profile($name: ".c-profile") {
    #{$name} {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: map-get($space, "m");
        margin-bottom: map-get($space, "m");

        @include md {
            flex-direction: row;
        }

        @include lg {
            margin-left: 0 1.25rem;
            margin-right: 0 1.25rem;
            margin-top: map-get($space, "xl");
            margin-bottom: map-get($space, "xl");
        }

        &__head {
            // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            @include md {
                width: 50%;
                max-width: 300px;
            }

            &__wrapper {
                height: 250px;
                position: relative;
            }

            &__background {
                width: 100%;
                height: 50%;
                background-color: map-get($colors, "grey-3");
            }

            &__user-picture {
                border-radius: 50%;
                width: 40%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 2px solid map-get($colors, "white");
                max-width: 120px;
            }

            &__content {
                padding-bottom: 1rem;

                @include lg {
                    padding-bottom: 1.25rem;
                }

                i {
                    margin-right: 5px;
                    font-size: 20px;
                }
            }
        }

        &__body {
            margin-top: map-get($space, 's');

            @include md {
                margin-left: map-get($space, "xs");
                width: calc(100% - 300px);
                margin-top: 0;
            }

            @include lg {
                margin-left: map-get($space, "m");
            }

            &__title {
                margin-bottom: map-get($space, "xxs");

                @include lg {
                    margin-bottom: map-get($space, "xs");
                }
            }

            &__content {
                margin-bottom: map-get($space, "s");

                @include lg {
                    margin-bottom: map-get($space, "l");
                }

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: map-get($colors, "primary");
                    background-color: map-get($colors, "grey-4");

                    &:hover {
                        text-decoration: none;
                        background-color: map-get($colors, "grey-2");
                        color: map-get($colors, "white");
                    }
                }
            }
        }
    }
}
